<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.PromotionMapper">
    <resultMap id="promotionDataMap" type="com.plateer.ec1.promotion.vo.CouponInfo">
        <result property="cpnIssNo" column="cpn_iss_no"/>
        <result property="prmNo" column="prm_no"/>
        <result property="cpnUseDt" column="cpn_use_dt"/>
        <result property="orgCpnIssNo" column="org_cpn_iss_no"/>
        <result property="prmNm" column="prm_nm"/>
        <result property="prmKindCd" column="prm_kind_cd"/>
        <result property="prmPriodCcd" column="prm_priod_ccd"/>
        <result property="prmStdDd" column="prm_std_dd"/>
        <result property="prmEndDt" column="prm_end_dt"/>
        <result property="prmStrtDt" column="prm_strt_dt"/>
        <result property="dcVal" column="dc_val"/>
        <result property="useYn" column="use_yn"/>
        <result property="dcCcd" column="dc_ccd"/>
        <result property="minPurAmt" column="min_pur_amt"/>
        <result property="cpnKindCd" column="cpn_kind_cd"/>
        <result property="maxDcAmt" column="max_dc_amt"/>
        <result property="sysRegDtime" column="sys_reg_dtime"/>
        <result property="degrCcd" column="degr_ccd"/>
        <collection property="applyTargetList" ofType="com.plateer.ec1.promotion.vo.PromotionApplyTarget">
            <result property="aplyTgtCcd" column="aply_tgt_ccd"/>
            <result property="aplyTgtNo" column="aply_tgt_no"/>
            <result property="useYn" column="use_yn"/>
        </collection>
    </resultMap>
    <select id="getPromotionData" resultMap="promotionDataMap" parameterType="java.lang.String">
        select cpn_iss_no,
               cci.prm_no,
               mbr_no,
               cpn_use_dt,
               org_cpn_iss_no,
               cpn_cert_no,
               ord_no,
               cci.sys_reg_dtime,
               prm_nm,
               prm_kind_cd,
               prm_priod_ccd,
               prm_strt_dt,
               prm_end_dt,
               prm_std_dd,
               emp_yn,
               dc_ccd,
               dc_val,
               min_pur_amt,
               max_dc_amt,
               cpb.use_yn,
               rmk,
               cpn_kind_cd,
               degr_ccd,
               dc_sv_ccd,
               mda_gb,
               ent_chn_gb,
               dwl_priod_ccd,
               dwl_avl_strt_dd,
               dwl_avl_end_dd,
               dwl_std_dd,
               dwl_psb_cnt,
               psn_dwl_psb_cnt,
               dwl_avl_plc,
               iss_way_ccd,
               cert_cd,
               our_chrg_rt,
               entr_chrg_rt,
               aply_tgt_ccd,
               aply_tgt_no,
               cpat.use_yn
        from cc_cpn_issue cci
                 inner join cc_prm_base cpb on cci.prm_no = cpb.prm_no
                 inner join cc_cpn_base ccb on cci.prm_no = ccb.prm_no
                 inner join cc_prm_aply_tgt cpat on ccb.prm_no = cpat.prm_no
        where cci.mbr_no = #{mbrNo}
    </select>

    <select id="getAllPromotionDataWithProduct" parameterType="promotionRequestVO" resultType="couponSerializeVO">
        with product AS (
        <foreach collection="productList" item="product" separator="union all">
        select #{product.goodsNo} as goods_no
             , #{product.itemNo} as item_no
             , #{product.specialNo} as special_no
             , #{product.categoryNo} as category_no
             , #{product.companyNo} as company_no
             , #{product.price} as price
        </foreach>
        )
        select p.*
             , cpn_iss_no
             , cci.prm_no
             , mbr_no
             , cpn_use_dt
             , org_cpn_iss_no
             , cpn_cert_no
             , ord_no
             , cci.sys_reg_dtime
             , prm_nm
             , prm_kind_cd
             , prm_priod_ccd
             , prm_strt_dt
             , prm_end_dt
             , prm_std_dd
             , emp_yn
             , dc_ccd
             , dc_val
             , min_pur_amt
             , max_dc_amt
             , cpb.use_yn
             , rmk
             , cpn_kind_cd
             , degr_ccd
             , dc_sv_ccd
             , mda_gb
             , ent_chn_gb
             , dwl_priod_ccd
             , dwl_avl_strt_dd
             , dwl_avl_end_dd
             , dwl_std_dd
             , dwl_psb_cnt
             , psn_dwl_psb_cnt
             , dwl_avl_plc
             , iss_way_ccd
             , cert_cd
             , our_chrg_rt
             , entr_chrg_rt
             , aply_tgt_ccd
             , aply_tgt_no
             , cpat.use_yn
        from cc_cpn_issue cci
                 inner join cc_prm_base cpb on cci.prm_no = cpb.prm_no
                 inner join cc_cpn_base ccb on cci.prm_no = ccb.prm_no
                 inner join cc_prm_aply_tgt cpat on ccb.prm_no = cpat.prm_no
                 inner join product p on (cpat.aply_tgt_ccd = '10' and cpat.aply_tgt_no = p.goods_no)
            or (cpat.aply_tgt_ccd = '20' and cpat.aply_tgt_no = p.special_no)
            or (cpat.aply_tgt_ccd = '30' and cpat.aply_tgt_no = p.category_no)
            or (cpat.aply_tgt_ccd = '40' and cpat.aply_tgt_no = p.company_no)
        where cci.mbr_no = #{mbrNo}
        ;
    </select>
</mapper>